spring:
  application:
    name: personService
  datasource:
    url: jdbc:h2:mem:persondb
    driverClassName: org.h2.Driver
    username: sa
    password: ""
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: /h2-ui

server:
  port: 9090

springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  show-actuator: true
  use-fqn: true

logging:
  level:
    org:
      springdoc: DEBUG